---
---

<section class="max-w-[1200px] mx-auto px-margin-mobile md:px-margin-desktop min-h-[80vh] flex flex-col items-center justify-center text-center relative overflow-hidden gap-8">
  <h1 class="font-fredoka text-display-lg md:text-display-lg mb-md text-primary scroll-reveal">
    Perjalanan Metamorfosis Karakter
  </h1>
  <p class="font-fredoka text-body-lg text-secondary max-w-2xl mx-auto mb-xl scroll-reveal">
    Masa kecil anak hanya sekali. Saat-saat emas ini tidak akan pernah terulang.
    Daripada waktu habis untuk hal yang kurang bermakna, bangun karakter kuat
    yang akan menemani seumur hidupnya.
  </p>
  <div class="w-full overflow-hidden mb-xl relative">
    <div class="flex items-center justify-center">
      <img
        class="w-80 h-80 object-contain border shadow-lg rounded-full"
        alt="Kupu-kupu karakter"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuC_4iKsgrrI273uSFIr-AY_8rM5UngtRKe9URoLICquK6nCjeynMbXm4I0Q0NsJaUAZyJYNBeHbu1RHQw-jda92WWdACzxLhT8AQkboNPPLzJ-Oku5z1DjVo8KaA6qCebM28RyQwy34bpgmxy3TOxbSaf9gUJNlVp5Gj5Z9RvpLlamJEg1vKYR3-saUPTVGq4MXbL6uqRZHG2wthoJOrcBwbos6bEKXXtjGQO84XYfWXrXOeSQ71hhlLb3460bX47Wfrfo8tP8mEQXi"
      />
    </div>
  </div>
</section>
